<% layout("layouts/boilerplate") %>

<h3 class="text-center mb-3">Buat Rekening Baru</h3>
<form
  action="/KelolaUang/rekening/new"
  method="POST"
  class="needs-validation"
  novalidate
>
  <div class="form-row">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 mb-3">
      <label for="nama">Nama Rekening</label>
      <input
        type="text"
        class="form-control"
        name="rekening[nama]"
        id="nama"
        required
      />
      <div class="valid-feedback">Looks good!</div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 mb-3">
      <label for="nominal">Nominal</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Rp</span>
        </div>
        <input
          type="text"
          name="rekening[nominal]"
          class="form-control"
          id="nominal"
          required
        />
      </div>
      <div class="valid-feedback">Looks good!</div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 mb-3">
      <label for="ket">Keterangan</label>
      <input
        type="text"
        name="rekening[keterangan]"
        class="form-control"
        id="ket"
        required
      />
      <div class="valid-feedback">Looks good!</div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-4 offset-md-2 col-lg-3 offset-lg-3">
      <a href="/KelolaUang/rekening" class="btn btn-danger btn-block">
        Batal
      </a>
    </div>
    <div class="col-md-4 col-lg-3">
      <button type="submit" class="btn btn-success btn-block">Simpan</button>
    </div>
  </div>
</form>

<script src="/javascript/validasi.js"></script>
<script src="/javascript/form.js"></script>
